{% extends "base_portfolio.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "home/css/dashboard.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "home/css/mybase.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "home/css/login.css" %}">

{{ form.media }}
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <!-- Here is the side bar-->
{% block nav-sidebar %}
<div stype="margin: 0 50px 0 10%; display:block;">

    <div id = "sidebar" style = "
    display: flex;
    flex-direction: column;
    width: 300px;
    top: 70px;
    position:sticky;
    padding-right: 10px
    ">
        <div style = "display: flex; flex-direction: row;justify-content: center; margin-top:20px">
            {% if badgeimg %}
            <div class="glowdimshort" style="margin:0 -10px 0 15px;">{{badgeimg|safe}}</div>
            {% endif %}
            <div class="glowdimshort" style="margin:0 15px;">
                {% if user.is_authenticated %}<a href='/portfolio/overview/{{user.username}} '>{{user.username}}</a>
                {% else %}Anonymous
                {% endif %}
            </div>
        </div>

        <div style = "display: flex; flex-direction: row;justify-content: center; margin-top:10px">
            <div style = "display: flex; flex-direction: column;justify-content: center">
                <div class="glowdimshort" style="margin:0 5px; font-size: 7px;letter-spacing: 1px;">Followers</div>
                <div class="glowdimshort" style="margin:0 5px;font-size: 14px">  <a href="/portfolio/overview/{{username}}" style="color:var(--header-link-color);">
                {{ num_follower }}  </a></div>
            </div>
            <div style = "display: flex; flex-direction: column;justify-content: center">
                <div class="glowdimshort" style="margin:0 5px; font-size: 7px;letter-spacing: 1px;">Followings</div>
                <div class="glowdimshort" style="margin:0 5px;font-size: 14px"><a href="/portfolio/overview/{{username}}" style="color:var(--header-link-color);"> {{ num_following }}</a></div>
            </div>
        </div>

    
        <div style="margin:0 0 0 0;">
        <script src="{% static "home/d3.v4.js" %}"></script>
        <script src="{% static "home/d3-scale-chromatic.v1.min.js" %}"></script>
        <script src="{% static 'portfolio/d3chart.js' %}"></script>
        <svg width="300" height="500px" id="chart" ></svg>
        <script>
            const svg=d3.select("svg#chart")
            chrt=new d3chart(svg,1,"svg#chart");
            try{
                chrt.rectWidth=.87/{{last_history.asset}};
                if(typeof(chrt.rectWidth)!='number'){throw '';}
            }
            catch{
                chrt.rectWidth=1./150/1000;
            }
            
            chrt.textOffSet.asset=-12;
            
            chrt.addRectRow({
                portfolio_quant:{{last_history.quant|safe}},
                portfolio_money:{{last_history.amount|safe}},
                date:"",
                asset:{{last_history.asset|safe}},
            })

            svg.attr('height',document.querySelector("svg#chart").clientHeight-25);

            draginit();

            svg.select('text.assettext')
            .attr('text-anchor' , 'middle')
            .attr('x',150)

            chrt.svg.selectAll("rect")
            .data(chrt.pointlist)
            .on("mouseover", handleMouseOver)
            .on("mouseout", handleMouseOut)
            .call(dragOn);
            //window.addEventListener('resize', resizeChrt);

            // http://bl.ocks.org/d3indepth/b6d4845973089bc1012dec1674d3aff8
            // use curve monotone y
            // https://archive.nytimes.com/www.nytimes.com/interactive/2012/10/15/us/politics/swing-history.html

        </script>
        </div>

        
        <div style="margin: 5px 0 0 0; ">
            <table id="tickerboard" class="module" style="width:220px;text-align: center;  margin-left: auto;
            margin-right: auto;">
            <thead>
                <tr>
                <th scope="col">Ticker</th>
                {% comment %} <th scope="col">name</th> {% endcomment %}
                <th scope="col">daily</th>
                <th scope="col">ma25{% comment %} ℹ️{% endcomment %}</th> 
                </tr>
            </thead>
            <tbody style="align:center">
            {% for ticker in ticker_list %}
                <tr>
                <td>
                <a href="/agora/ticker/{{ ticker.ticker }}">{{ ticker.ticker }}</a>
                </td>
                {% comment %} <td>
                {{ ticker.name | safe }}
                </td> {% endcomment %}
                <td class = "daily" id = "{{ticker.ticker}}" style="transition: color 0.6s;"></td>
                <td class = "ma25" id = "{{ticker.ticker}}" style="transition: color 0.6s;"></td>
                </tr>
            {% endfor %}
            </tbody>
            </table>

            <script src="{% static "home/dbfetch.js" %}"></script>
            <script src="{% static "home/functions.v0.200817.js" %}"></script>
            <script src="{% static "home/maketable.js" %}"></script>
            <script type="text/javascript">
                const tickerboard=document.getElementById("tickerboard").getElementsByTagName('tbody')[0];
                enterDailyFluct();
                DISPLAY_DATES = 30;
                setInterval(()=>{
                    if(document.hasFocus()){
                    let request={};
                    const daily_list = tickerboard.getElementsByClassName("daily");
                    for(let i = 0 ; i < daily_list.length; i++ ){
                        const ticker_key = 'ticker__'+daily_list[i].id;
                        request[ticker_key]=window.localdb_meta.__todayind-DISPLAY_DATES;
                    }
                    Object.keys(window.localdb).forEach((key)=>{
                        if(key in request){
                        request[key]=Math.min(request[key],window.localdb[key].end_date-1);
                        }
                        else if(key.split("__")[0]=="player" || key=='ticker__'+window.drawnTicker){
                        request[key]=window.localdb[key].end_date-1;
                        }
                    });

                    fetchDB(request).then((response_json)=>{
                        enterDailyFluct();
                        saveLocalDB();
                    })
                    }
                },10000);
            </script>
        </div>

        <div style = "display: flex; flex-direction: row;justify-content: center; ">
            {% if user.is_authenticated  %}
            <div class="glowdimshort" style="margin:0 5px;"><a href="/portfolio/transactions/{{user.username}}" style="color:var(--header-link-color);">Trade</a></div>
            <div class="glowdimshort" style="margin:0 5px;"><a href="/portfolio/history/{{user.username}}" style="color:var(--header-link-color);">History</a></div>
            <div class="glowdimshort" style="margin:0 5px;"><a href="/agora/hashtag/{{user.username}}" style="color:var(--header-link-color);" >MEMO</a></div>
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}


    
<!-- Here is the for the feeds! -->
{% block content %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static "home/jquery.waypoints.min.js" %}"></script>
    <script src="{% static "home/infinite.min.js" %}"></script>    

<!-- infinite-container -->
    <div id = "feedcontent " class="feedbox infinite-container" style="
    display:flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    padding:0;
    ">

        <script type="text/javascript" >
            function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
            }
            const option = {
                method: "POST",
                credentials: "same-origin",
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json; charset=UTF-8',
                    'X-CSRFToken': getCookie('csrftoken')
                },
            };

            async function AddLike(likebuttondom, type, objectid){
                try{
                    const likebutton = document.getElementById(likebuttondom);
                    const req = {"type": type, "objectid": objectid};
                    const response = await fetch('/agora/_addlike/?req='+ JSON.stringify(req),option);
                    const response_json = await response.json();
                    if(response_json.liked){
                        likebutton.innerHTML = `Downvote: ${response_json.like_count}` ;
                    }
                    else{
                        likebutton.innerHTML = `Upvote: ${response_json.like_count}` ;
                    }

                } catch{
                    console.error("Error!")
                }
            }

            function ShowFeedContents(entryid){
                const contentDOM = document.getElementById(`entry-content_${entryid}`);
                const content = JSON.parse(contentDOM.textContent);
                const likebuttonDOM = document.getElementById(`likebutton_${entryid}`);
                const replybuttonDOM = document.getElementById(`replybutton_${entryid}`);
                const repliesDOM = document.getElementById(`replies_${entryid}`);
                const entrytypeDOM = document.getElementById(`entry-type_${entryid}`)
                let entrytype = entrytypeDOM.textContent;
                switch(entrytype){
                    case 'transaction':
                        if(content.quantity >=0){
                            contentDOM.innerHTML = `BUYS ${content.ticker}: ${content.quantity} shares at ${(content.price).toFixed(2)}, total ${(content.price * content.quantity).toFixed(2)}`;
                            likebuttonDOM.onclick = function() { AddLike(likebuttonDOM.id, "transaction", content.object_id )};

                        } else {
                            contentDOM.innerHTML = `SELLS ${content.ticker}: ${-content.quantity} shares at ${(content.price).toFixed(2)}, total ${(-content.price * content.quantity).toFixed(2)}`;
                        }
                    case 'portfreport':
                        
                }
                replybuttonDOM.addEventListener("click",()=> {
                    repliesDOM.style.display = (repliesDOM.style.display == "flex") ? "none": "flex";
                    AddReply('GET',entryid,entrytype,content.object_id);
                })

            }

            async function AddReply(methods,entryid,type,object_id){
                const replyformDOM = document.getElementById(`replyform_${entryid}`);
                const req = {"type": type, "objectid": object_id};
                formData = new FormData(replyformDOM);
                let options = {};
                if(methods == 'POST'){
                    options = {
                        method: methods, 
                        body: formData,
                        credentials:"same-origin",
                        'X-CSRFToken': getCookie('csrftoken')
                    };
                }else if (methods == 'GET'){
                    options = {        
                         method: methods, 
                    };
                }
                try{
                    
                    const response = await fetch('/agora/_addreply/?req='+ JSON.stringify(req),options);
                    replyformDOM.reset();
                    const response_json = await response.json();
                    const replylist = JSON.parse(response_json);
                    const replylistDOM = document.getElementById(`replylist_${entryid}`);
                    replylistDOM.innerHTML = "";
                    for(let i = 0;i<replylist.length;i++){
                        let reply = replylist[i];
                        let replyid = `reply_${entryid}_${i}`;
                        replylistDOM.innerHTML += `<div id=${replyid} style="display:flex;
                            flex-direction:column;
                            justify-content:flex-start;
                            border:1px solid rgba(77, 76, 76,50);
                            border-radius:3px;
                            margin-top:3px;
                            margin-left: 10px; 
                            align-items:stretch;
                            ">`;
                        replylistDOM.innerHTML += '</div>';
                        let replyDOM = document.getElementById(replyid);
                        replyDOM.innerHTML += `<div style ="display:flex;align-items:center;">
                            <div class = "glowdimshort" style = "width: 100px;
                            font-size: 7px;letter-spacing: 1px;"> ${reply.user} </div>
                            <div style="font-size:4px; color:rgba(90, 90, 90,100); "> ${reply.pub_date}</div>
                            <div> </div>
                            </div>`;

                        replyDOM.innerHTML += `<div style="margin-left:10px"> ${reply.content}</div>`;
                        if(reply.editable){ 
                            replyDOM.innerHTML+= `del`;
                        }
                    }
                }catch{
                    console.error("Error!")
                }
                
            }

        </script>


        {% if not page_obj %}
            <p>{% translate 'None available' %}</p>
        {% else %}
            {% for entry in page_obj %}
            <!-- infinite-item -->
            <div class = "col-md-12 infinite-item" id = "entry_{{page_obj.number}}-{{forloop.counter}}" style= "display:flex; 
            flex-direction:column; 
            padding: 5px; 
            border:2px solid rgba(77, 76, 76,50);
            border-radius:3px;
            margin-top:10px; 
            min-height: 50px">
                <div style="display:flex;justify-content:space-between ">
                    <div class="glowdimshort" style="margin:0 0 0 0; display:flex;font-size:11px;letter-spacing:1px">
                        <a href='/portfolio/overview/{{entry.tag}} ' style='margin-right:5px'>{{entry.tag}}</a>
                        
                        <div id = "entry-type_{{page_obj.number}}-{{forloop.counter}}">{{entry.content_type.name}}</div>

                    </div>

                    <div>
                        <span > {{ entry.pub_date }}</span>
                    </div>
                </div>

                <div id = "entry-content_{{page_obj.number}}-{{forloop.counter}}">
                    {{ entry.content | safe }}
                </div>
                <div>
                    <div style = "display:flex; justify-content: flex-end; ">
                        <button id = "replybutton_{{page_obj.number}}-{{forloop.counter}}"  style="background:none;border:none;margin-right:2px;padding:0;cursor: pointer;" type="button">
                            Reply: {{ entry.reply_count }}  </button>
    
                        <button id = "likebutton_{{page_obj.number}}-{{forloop.counter}}"  style="background:none;border:none;margin:0;padding:0;cursor: pointer;" type="button">

                            Upvote: {{entry.like_count }} </button>
                    </div>
                    <div id = "replies_{{page_obj.number}}-{{forloop.counter}}" style = "display:none; flex-direction:column">  
                        <div id = "replylist_{{page_obj.number}}-{{forloop.counter}}" style = "display:flex;flex-direction:column"></div>
                        <form action = "" method = 'post' style="display:flex; 
                        align-items:center;
                        margin-left:10px;
                        margin-top:3px;
                        border:2px solid rgba(77, 76, 76,50);
                        border-radius:3px; " id = "replyform_{{page_obj.number}}-{{forloop.counter}}">
                        <div class="glowdimshort" style = "font-size: 7px;letter-spacing: 1px;width:100px;"> {{user}} </div>
                        {% csrf_token %}
                        {{form}}
                        <input type="submit" value = "Submit" id = "replysubmit_{{page_obj.number}}-{{forloop.counter}}"> 
                        </form>


                    </div>
                    <script>
                        (()=>{
                        const entryid = "{{page_obj.number}}-{{forloop.counter}}";
                        const contentDOM = document.getElementById(`entry-content_${entryid}`);
                        const content = JSON.parse(contentDOM.textContent);
                        console.log(content.object_id);
                        const replyformDOM = document.getElementById(`replyform_${entryid}`);
                        const req = {"type": 'transaction', "objectid": content.object_id};
                        // replyformDOM.action = '/agora/_addreply/?req='+JSON.stringify(req)
                        replyformDOM.addEventListener("submit",e=> {
                            e.preventDefault();
                            AddReply('POST',entryid, "{{entry.content_type.name}}", content.object_id);
                        }); 
                        ShowFeedContents(entryid);
                        })();
                    </script>
                </div>

            </div>

            {% endfor %}
        {% endif %}    

        {% if page_obj.has_next %}
            <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a> 
        {% endif %}

    </div>

    <script type="text/javascript">
        // content = document.getElementById("feedcontent");
        // let page = 1;
        // window.onscroll = async function (){
        //     url = `/?page=${page}`
        //     if (window.innerHeight + window.pageYOffset >= document.body.offsetHeight){
        //         const res = await fetch(url);
        //         if(res.ok){
        //             const data = res.json();
        //             console.dir(data);
        //             page += 1;
        //             content.innerHTML += data.map(
        //             obj=>`<div>
        //             <h1>${obj.title}</h1> 
        //             <p>${obj.content}</p> 
        //             </div>`
        //             ).join("\n")                    
        //             }
        //     }

        // }
        let infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0], 
            offset: 'bottom-in-view',
            onBeforePageLoad: function() {

            },

            onAfterPageLoad: function (items) {
                len = items.length;
                for(let i=0;i < items.length; i++){
                    const entryDOM = items[i];
                    const entryid = entryDOM.id.split('_')[1];
                    const contentDOM = document.getElementById(`entry-content_${entryid}`);
                    const content = JSON.parse(contentDOM.textContent);

                    const replyformDOM = document.getElementById(`replyform_${entryid}`);
                    replyformDOM.addEventListener("submit",e=> {
                            e.preventDefault();
                            AddReply('POST',entryid, "transaction", content.object_id);
                        }); 

                    ShowFeedContents(entryid);

                    
                }
            }
        }
        )
    </script>

    <!--  Here is the control of the style. -->

    <script>
            const mainid = document.getElementById("main");
            const headerid = document.getElementById("header");
            const contentid = document.getElementById("content");
            const contentcontainer = document.getElementById("content-container");
            const titleimageid = document.getElementById("titleimage");
            headerid.style.zIndex = 15;
            // mainid.style = "display:flex;top:100px;"
            contentid.style = "position:relative;top:100px;width:100%;margin:0";
            titleimageid.style = "margin:-26px 0 -35px  7vw;";
            contentcontainer.style = "display:flex; flex-direction:row;justify-content:center;top:100px";

    </script>
{% endblock %}
